<p>CI/CD works!</p>

<button type="button" pRipple pButton (click)="getTasks()">Get Tasks</button>

<button type="button" pRipple pButton (click)="logoutUser()">Log Out</button>

<button type="button" pRipple pButton (click)="showSpinner()">Spin</button>
<button type="button" pRipple pButton (click)="showSuccess()">Success</button>

<pre>{{taskList|json}}</pre>


<div class="card">
  <h5>Severities</h5>
  <button type="button" pButton pRipple (click)="showSuccess()" label="Success" class="p-button-success"></button>
  <button type="button" pButton pRipple (click)="showInfo()" label="Info" class="p-button-info"></button>
  <button type="button" pButton pRipple (click)="showWarn()" label="Warn" class="p-button-warning"></button>
  <button type="button" pButton pRipple (click)="showError()" label="Error" class="p-button-danger"></button>
</div>
